<h2 mat-dialog-title>Add Officer Report</h2>

<div mat-dialog-content>
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="data.name" />
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Age</mat-label>
    <input matInput type="number" [(ngModel)]="data.age" />
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Crime</mat-label>
    <input matInput [(ngModel)]="data.crime" />
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Involved Officers</mat-label>
    <input matInput [(ngModel)]="data.involved" />
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Image URL</mat-label>
    <input matInput [(ngModel)]="data.image" />
  </mat-form-field>
</div>

<div mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-flat-button color="primary" (click)="onSave()">Save</button>
</div>
