<mat-toolbar color="primary" class="dashboard-toolbar">
  <span class="toolbar-title">Dashboard</span>
</mat-toolbar>
<div class="dashboard-container">
  <mat-nav-list class="sidebar">
    <a mat-list-item routerLink="/dashboard"><mat-icon>home</mat-icon> Home</a>
    <a mat-list-item routerLink="/officers" routerLinkActive="active"><mat-icon>groups</mat-icon> (LPD) Officers</a>
    <a mat-list-item><mat-icon>local_hospital</mat-icon> LMI</a>
    <a mat-list-item routerLink="/ldoj" routerLinkActive="active"><mat-icon>gavel</mat-icon> LDOJ</a>
    <a mat-list-item routerLink="/settings" routerLinkActive="active"><mat-icon>security</mat-icon> SLRT</a>
    
    <div class="spacer"></div>

    <a routerLink="/settings"><mat-icon>settings</mat-icon> Settings</a>
    <button mat-icon-button (click)="logout()" matTooltip="Logout">
        <mat-icon>logout</mat-icon>
    </button>
  </mat-nav-list>

  <div class="main-content">

    <mat-card class="summary-card">
      <h2>LDOJ</h2>
      <p>Latest court case summary...</p>
    </mat-card>

    <mat-card class="summary-card">
      <h2>LMI</h2>
      <p>Recent medical incidents summary...</p>
    </mat-card>

    <mat-card class="summary-card">
      <h2>Officers</h2>
      <p>Latest officer report summary...</p>
    </mat-card>

    <mat-card class="summary-card top-report">
      <h2>Top Report</h2>
      <p>Most liked report content...</p>
    </mat-card>
  </div>
</div>
